body {
  margin: 0;
  padding: 0; }

html, body, #app {
  height: 100%;
  width: 100%; }

* {
  font-family: 'Roboto', sans-serif; }

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70px;
  width: 70px;
  margin: auto;
  z-index: 9999; }

#full-image {
  max-height: 600px;
  max-width: 100%;
  margin-bottom: 20px; }

.image-title {
  font-size: 18px;
  margin-bottom: 5px; }

.image-info {
  padding: 0 10px; }
  .image-info svg {
    display: inline-flex;
    vertical-align: middle;
    padding-bottom: 6px; }
  .image-info span {
    display: inline-flex;
    vertical-align: middle; }

#image-grid {
  margin: 0 !important; }
  #image-grid .grid-items {
    cursor: pointer; }
